<div class="jumbotron">
	<h1><b><i class="fa fa-circle-o-notch" aria-hidden="true"></i>
 Taskr</b></h1>
	<p><b>Helping you increase your productivity.</b></p>
	<%= link_to 'Sign Up', '#', class: 'btn btn-primary btn-lg' %>
</div>